body {
    font-family: 'Montserrat';
}

/* Nav */

.navbar {
    background-color: #171717;
}

.nav-item {
    margin-right: 24px;
    font-weight: 200;
    font-size: 14px;
}

.nav-item-last {
    font-weight: 200;
    font-size: 14px;
}

.nav-item.active a {
    color: #F9B234 !important;
    font-weight: 600;
}

.nav-item a:hover {
    color: #F9B234 !important;
}

.nav-link span {
    color: #F9B234;
    font-weight: 600;
}

/* Carousel */

.carousel {
    height: 450px;
    background-color: #171717;
}

.btn-carousel {
    background-color: #F9B234;
    font-weight: 600;
}
.carousel-item h1 {
    font-family: 'Lora';
    font-size: 42px;
    
}


/* Features */

.features {
    background-color: #f7f7ff;
}

.features h3, .designer h3, .similar-product h3, .cart-header h3, .modal-body h3{
    font-family: 'Lora';
    color: #1B2690;
    font-weight: bold;
}   

.features p, .designer p, footer p, .similar-product p, .similar-product p, .cart-header p, .modal-body p{
    font-weight: 200;
    color: #b7b7b7;
}

.figure-caption h5 {
    color: #101b7c;
    font-size: 16px;
}

.figure-img {
    position: relative;
}

.figure-img a {
    position : absolute;
    top: 0;
    bottom: 8px;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s;
}

.figure-img:hover a {
    opacity: 1;
}

.footer-item {
    margin-right: 20px;
    text-decoration: none;
}

/* Breadcrumb */

.breadcrumb {
    margin-top: 100px;
}

.cart-breadcrumb {
    margin-top: 50px;
}

/* SingleProduct Page */

.product-thumbnail {
    padding: 10px;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 360px;
    margin: auto;
    transform: translateY(-50px);
}

.btn-product {
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-product .btn{
    display: block;
    margin-top: 10px;
}

.single-product-designer {
    margin-top: 50px;
}

.single-product-designer h5{
    color:#ADADAD;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 20px;
}

.single-product-designer h4{
    font-size: 18px;
    color: #171717;
    margin: 10px 0px 0px;
}

.single-product-designer p{
    font-size: 14px;
    font-weight: 200;
}

.product-description {
    background-color: #f6f7fb;
    height: 350px;
}

.product-description .tab-content {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-top: 0px;
    box-shadow: 0 4px 15px rgb(0, 0, 0, 0.05);
}

.product-description .tab-content p {
    line-height: 28px;
    font-weight: 200;
    font-size: 16px;
    color: #868686;
}

.product-review h5 {
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 0px;
}

.product-review p {
    font-size: 14px !important;
    color: #868686;
}

.product-review {
    height: 350px;
    overflow-x: scroll;
}

.similar-product {
    margin-top: 130px;
    margin-bottom: 180px;
}

.cart-address {
    margin-top: 100px;
}

.cart {
    margin-bottom: 100px;
}

.checkout-detail {
    background-color: #f6f7fb;
    border: 1px solid #eaeaea;
}